
<div class="container mt-5 animated fadeInRight">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Ingresar</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form (ngSubmit)="onSubmit(f)"
				#f="ngForm">
				
					<!-- EMAIL -->
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input 
						type="text" 
						name="email" 
						[(ngModel)]="usuario.email"
						required
						email
						class="form-control" 
						placeholder="Email">
						
					</div>
					<div class="text-center animated fadeIn " *ngIf="f.submitted && f.controls['email'].errors">
						<span class=" text-danger ">El correo es obligatorio</span>
					</div>
					<!-- PASSWORD -->
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input 
						type="password" 
						class="form-control"
						name="password"
						[(ngModel)]="usuario.password" 
						minlength="6"
						required
						placeholder="Contaseña">
					</div>
					<!-- RECORDAR USUARIO -->
					<div class="row align-items-center remember">
						<input 
						[(ngModel)]="recordar"
						name="remember"
						type="checkbox">
						Recordarme
					</div>
					<!-- SUBMIT BTN -->
					<div class="form-group mt-1">
						<input 
						type="submit" 
						value="Ingresar" 
						class="btn btn-block login_btn">
					</div>
				</form>
			</div>
			<!-- CARD FOOTER -->
			<div class="card-footer">
				<!-- REGISTER LINK -->
				<div class="d-flex justify-content-center links ">
					¿No tienes cuenta?<a routerLink="/register">Registrarme</a>
				</div>
				<!-- FORGOT PASSWORD -->
				<div class="d-flex justify-content-center ">
					<a href="#">Olvide mi contraseña</a>
				</div>
			</div>
		</div>
	</div>
</div>